eval "$(mise activate bash)"

go version
sqlc version
muxt version

POSTGRES_USER="$(yq '.services.postgres.environment.POSTGRES_USER' docker-compose.yml)"
POSTGRES_PASSWORD="$(yq '.services.postgres.environment.POSTGRES_PASSWORD' docker-compose.yml)"
POSTGRES_DB="$(yq '.services.postgres.environment.POSTGRES_DB' docker-compose.yml)"
export DATABASE_URL="postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}?sslmode=disable"
